<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
</head>
<body>
    <h1>Create Expense</h1>
    <hr/>
    <div>
        <a th:href="@{/logout}">Logout</a>
    </div>

<form th:action="@{/saveOrUpdateExpense}" th:object="${expense}" method="post">
    <div>
        <input
                type="text"
                placeholder="Exnter expense name"
                th:field="*{name}"
        />
    </div>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <div>
        <input
                type="text"
                placeholder="Exnter expense amount"
                th:field="*{amount}"
        />

    </div>
    <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
    <div>
        <input type="text" th:field="*{dateString}" placeholder="dd/mm/yyyy" id="createdAt"/>
    </div>
    <span th:if="${#fields.hasErrors('dateString')}" th:errors="*{dateString}"></span>
    <div>
        <textarea
                rows="5"
                placeholder="Emnter description"
                th:field="*{description}"
        ></textarea>
    </div>
    <button type="submit">Submit</button>
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{expenseId}"/>
</form>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/js/expense-form.js}"></script>
</body>
</html>