<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <h1>Login</h1>
      <hr/>
<div th:if="${successMsg}">
    <h1>Success</h1>
</div>
      <div>
          <form id="loginForm" th:action="@{/login}" method="post">
              <div th:if="${param.error}">
                  <p>Invalid username or password </p>
              </div>
              <div th:if="${param.logout}">
                  <p>You have been logged out from the application </p>
              </div>
              <input type="text" name="email" placeholder="Enter email"/>
              <br/><br/>
              <input type="password" name="password" placeholder="Enter password"/>
              <br/><br/>
              <button type="submit">Login</button>
          </form>
      </div>
</body>
</html>